.frame {
  position: relative;
  margin: 70px auto;
	max-width: 375px;
  min-height: 667px;
  font-family: Orkney, Helvetica, Arial, sans-serif;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 55px -3px rgba(0,0,0,0.35);
  
  .header {
    padding: 14px;

    .title {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

.slidein-appear {
  opacity: 0.01;
  transform: scale(0.5) translateY(70%);
}

.slidein-appear-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
