.waiting-subview {
  padding: 20px;
  align-items: center;
  background: var(--subview-bg);

  .emojis {
    flex-grow: 1;
    padding: 10px 0px 10px 12px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 12px;
  }

  .message {
    flex-grow: 1;
    text-align: center;
    width: 85%;
  }

  .spinning {
    align-items: center;
    width: 45%;
    height: 45%;
  }

  .button {
    width: 100%;

  }
}
