.key-list {
  height: 312px;
  padding-right: 7px;
  margin-right: 7px;
  overflow-y: scroll;
  scrollbar-color: #4880ff #f6f9fc;
  scrollbar-width: thin;
}

.fade-out {
  background: linear-gradient(var(--subview-bg-transparent) 0%, var(--subview-bg) 90%);
  position: relative;
  top: -25px;
  margin: -25px 20px -25px 0px;
  height: 50px;
}
