.key-list, .only-key-warning {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding: 10px;
}

.only-key-warning {
  justify-content: center;
  text-align: center;
  border: 1px solid #dc3664;
  border-radius: 2px;
  margin-bottom: 20px;
}

.key-list-item {
  display: flex;
  width: 100%;
  height: 53px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: white;
}

.key-list-item-name {
  flex-grow: 2;
  padding-left: 10px;
  tex-overflow: ellipsis;
}

.key-list-item-indicator--authorized {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #1AB44B;
}

.key-list-item-badge--authorized {
  border-radius: 6px;
  height: 19px;
  width: 75px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  background-color: #1AB44B;
}
