.management-subview {
  padding: 20px 0px 20px 20px;
  background: var(--subview-bg);

  .only-key {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;

    img {
      margin: 20px auto 0px auto;
    }

    .only-key-warning {
      padding: 10px;
      justify-content: center;
      text-align: center;
      border: 1px solid var(--button-reject-color);
      border-radius: 2px;
      margin: auto;
    }
  }

  .buttons {
    padding-right: 20px;
  }

  .todo-remove-me {
    display: none;
    .btn {
      width: 50%;
      margin: auto;
    }
  }
}
