.transaction-list {
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--subview-bg);

  .title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .scrollable {
    max-height: 320px;
    overflow-y: scroll;
  }
}
