.status-bar {
  display: flex;
  align-items: baseline;
  margin-bottom: 1.2px;

  .indicator {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
  }

  .indicator--connected {
    background-color: #00F302;
    border: 2px solid #83F984;
  }

  .indicator--no-account {
    background-color: #ffd600;
    border: 2px solid #ffcc35;
  }

  .indicator--disconnected {
    background-color: #e00832;
    border: 2px solid var(--invalid-color);
  }

  .indicator--connecting {
    background-color: #ffd600;
    border: 2px solid #ffcc35;
  }

  .status {
    opacity: 0.69;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 19px;
    letter-spacing: 0.29px;
  }
}
