:root {
  --foreground-color: #353A41;
  --background-color: #FFFFFF;
  --label-color: #4880FF;
  --border-color: #DBDBDB;
  --border-focus-color: #b4b4b4;
  --invalid-color: #FF0054;
  --button-color: #4880FF;
  --button-shadow-color: rgba(72,128,255,0.50);
  --button-darker-color: #386BE1;
  --button-fg: #FFFFFF;
  --button-alt-color: #34CD65;
  --button-alt-shadow-color: rgba(72,128,255,0.50);
  --button-alt-darker-color: #20BE53;
  --subview-bg: #F6F9FC;

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_r.woff2') format('woff2'),
         url('~assets/orkney_r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_m.woff2') format('woff2'),
         url('~assets/orkney_m.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
}

html {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: none;
}

body {
  position: relative;
  font-size: 14px;
  height: 100%;
  color: var(--foreground-color);
  background: url('~assets/background.svg');
  background-position-x: 50%;
  background-position-y: -2px;
  background-repeat: no-repeat;
  
  &:after {
    position: absolute;
    top: -26px;
    left: calc(50% - 412px - 235px);
    content: url('~assets/logo.png');
  }
}
