:root {
  --foreground-color: #353A41;
  --background-color: #FFFFFF;
  --label-color: #4880FF;
  --border-color: #DBDBDB;
  --border-focus-color: #b4b4b4;
  --invalid-color: #FF0054;
  --weak-pass-color: #FD6D30;
  --medium-pass-color: #FBC812;
  --good-pass-color: #7C6FFC;
  --strong-pass-color: #5AC897;
  --std-button-color: #4880FF;
  --std-button-shadow-color: rgba(72,128,255,0.50);
  --std-button-darker-color: #386BE1;
  --std-button-fg: #FFFFFF;

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_r.woff2') format('woff2'),
         url('~assets/orkney_r.woff') format('woff');
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: none;
}

body {
  position: relative;
}

.view {
  position: relative;
  margin: 70px auto;
	min-height: 667px;
	max-width: 375px;
  font-family: Orkney, Helvetica, Arial, sans-serif;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 10px 55px -3px rgba(0,0,0,0.15);
}
