:root {
  --foreground-color: #353A41;
  --background-color: #FFFFFF;
  --label-color: #4880FF;
  --border-color: #DBDBDB;
  --border-focus-color: #b4b4b4;
  --invalid-color: #FF0054;
  --weak-pass-color: #FD6D30;
  --medium-pass-color: #FBC812;
  --good-pass-color: #7C6FFC;
  --strong-pass-color: #5AC897;
  --std-button-color: #4880FF;
  --std-button-shadow-color: rgba(72,128,255,0.50);
  --std-button-darker-color: #386BE1;
  --std-button-fg: #FFFFFF;

  @font-face {
    font-family: Orkney;
    src: url('~assets/orkney_r.woff2') format('woff2'),
         url('~assets/orkney_r.woff') format('woff');
  }
}

html {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: none;
}

body {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  color: var(--foreground-color);
  background-repeat: no-repeat;
  background: linear-gradient(145deg, #E8EBF2 0%, #99B8FE 100%);
}
