.icon {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  border-radius: 29px;
}

.glyph {
  min-width: 30px;
  min-height: 30px;
  border-radius: 29px;
}

.glyph--arrow {
  mask: url(~assets/arrow.svg) center no-repeat;
  transform: rotate(180deg);
}

.glyph--human {
  mask: url(~assets/human.svg) center no-repeat;
}

.glyph--tick {
  mask: url(~assets/tick.svg) center no-repeat;
}

.glyph--arrow-up {
  mask: url(~assets/arrow.svg) center no-repeat;
}
