.fancy-circles {
  z-index: 1;

  .circ {
    position: absolute;
    border: 1px solid black;
    opacity: 0.05;
    border-radius: 200px;
  }
  
  .circ-1 {
    left: 270px;
    top: 3px;
    width: 18px;
    height: 18px;
    opacity: 0.09;
  }

  .circ-2 {
    right: -70px;
    top: -30px;
    width: 125px;
    height: 125px;
    opacity: 0.07;
  }

  .circ-3 {
    top: 110px;
    left: -25px;
    width: 50px;
    height: 50px;
    opacity: 0.08;
  }

  .circ-4 {
    left: 160px;
    top: 100px;
    width: 16px;
    height: 16px;
    opacity: 0.06;
  }

  .circ-5 {
    right: 19px;
    top: 140px;
    width: 20px;
    height: 20px;
  }  

  .circ-6 {
    right: 145px;
    top: 125px;
    width: 35px;
    height: 35px;
    opacity: 0.06;
  }  

  .circ-7 {
    right: 19px;
    left: 15px;
    top: 78px;
    width: 14px;
    height: 14px;
    opacity: 0.09;
  } 
}
