.key {
  font-weight: 600;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 8px;

  &:hover, &.selected {
    position: relative;
    box-shadow: -1px 7px 19px 5px rgba(0,0,0,0.12);
    z-index: 2;
  }

  &.selected {
    border: 1px solid var(--button-color);
  }

  &.selected&.key--pending {
    height: 108px;
  }
}

.key-header {
  display: flex;
  align-items: center;
  width: 100%;

  .key-info {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
  }

  .key-name {
    padding: 3px 0px 0px 5px;
    max-width: 66%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .key-indicator--authorized {
    .glyph {
      background-color: var(--background-color);
    }

    .icon {
      background: var(--button-alt-darker-color);
    }
  }

  .key-indicator--device {
    .glyph {
      background-color: var(--foreground-color);
    }

    .icon {
      background: var(--subview-bg);
    }
  }

  .key-indicator--pending {
    .glyph {
      background-color: var(--background-color);
    }

    .icon {
      background: var(--warning-color);
    }
  }

  .key-badge {
    padding: 4px 12px 0px 12px;
    width: 32%;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .key-badge--authorized {
    color: var(--background-color);
    background: var(--button-alt-darker-color);
  }

  .key-badge--device {
    color: var(--foreground-color);
    background: var(--subview-bg);
  }

  .key-badge--pending {
    color: var(--background-color);
    background: var(--warning-color);
  }
}

.key-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  .emojis {
    margin-bottom: 6px;
    font-size: 28px;
    letter-spacing: 12px;
  }

  .timestamp {
    opacity: 0.5;
  }
}
