.create-or-link-subview {
  background: var(--subview-bg);
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background: white;
    border-radius: 6px;

    .input-field {
      margin: 0;
    }

    .input-field .badge--loading {
      top: 18px;
    }

    .input-field--condensed {
      input {
        font-size: 13px;
      }
    }

    .input-field--with-badge  {
      input {
        padding-right: 48px;
      }
    }
  }
}
