.transactions-list {
  height: 312px;
  padding-right: 7px;
  margin-right: 7px;
  overflow-y: scroll;
  scrollbar-color: #4880ff #f6f9fc;
  scrollbar-width: thin;
}

.no-transaction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 8px;

  &:hover {
    position: relative;
    box-shadow: -1px 7px 19px 5px rgba(0,0,0,0.12);
    z-index: 2;
  }
}

.fade-out {
  background: linear-gradient(var(--subview-bg-transparent) 0%, var(--subview-bg) 90%);
  position: relative;
  top: -25px;
  margin: -25px 20px -25px 0px;
  height: 50px;
}
