.send-panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--subview-bg);
  transition: all 500ms ease-out;

  .send-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.showup-appear {
  opacity: 0.01;
}

.showup-appear-active {
  opacity: 1;
  transition: all 200ms ease-out;
}
