.send-panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 500ms ease-out;
}

.showup-appear {
  opacity: 0.01;
}

.showup-appear-active {
  opacity: 1;
  transition: all 200ms ease-out;
}
