.transaction {
  --value-color: #00942F;

  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 8px;

  &:hover {
    position: relative;
    box-shadow: -1px 7px 19px 5px rgba(0,0,0,0.12);
    z-index: 2;

    .address-expand {
      max-width: 100%;
    }
    .value-contract {
      max-width: 0%;
    }
  }
}

.self {
  display: none;
}

.info {
  width: calc(100% - 40px);
  padding-left: 5px;
}

.info-top {
  display: flex;
  justify-content: space-between;

  .address {
    width: auto;
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .value {
    color: var(--value-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.info-bottom {
  display: flex;
  justify-content: space-between;

  .timestamp {
    opacity: 0.5;
    max-width: 60%;
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .status {
    padding: 3px 12px 0px 12px;
    border-radius: 10px;
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .complete {
    color: var(--background-color);
    background-color: var(--button-color);
  }

  .pending {
    color: var(--background-color);
    background-color: var(--warning-color);
  }
}
