@keyframes bouncing {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}
.bouncing {
  display: flex;
  justify-content: center;
}
.bouncing > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: var(--foreground-color);
  border-radius: 50%;
  animation: bouncing 0.6s infinite alternate;
}
.bouncing > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing > div:nth-child(3) {
  animation-delay: 0.4s;
}
