.btn {
  width: 161px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
	color: var(--button-fg);
  background-color: var(--button-color);
  font-size: 13px;
	font-weight: bold;
	line-height: 20px;
  transition: all 0.5s;
  box-shadow: -2px 9px 30px 0px var(--button-shadow-color);

  .caption {
    flex-basis: 120px;
  }

  .icon {
    background: var(--button-darker-color);
  }
  
  .glyph {
    background-color: white;
  } 
}

.btn:hover {
  background-color: var(--button-darker-color);

  .icon {
    transition: all 0.7s;
    background-color: white; 
  }
  
  .glyph {
    background-color: var(--button-darker-color);
  } 
}

.btn--alt {
  box-shadow: -2px 9px 30px 0px var(--button-alt-shadow-color);
  background-color: var(--button-alt-color);

  .icon {
    background: var(--button-alt-darker-color);
  }
}

.btn--alt:hover {
  background-color: var(--button-alt-darker-color);

  .glyph {
    background-color: var(--button-alt-darker-color);
  } 
}

.btn:disabled,
.btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
