.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 161px;
  height: 40px;
  border: 0;
  cursor: pointer;
	color: var(--std-button-fg);
  background-color: var(--std-button-color);
  border-radius: 20px;
	font-weight: bold;
  font-size: 13px;
	line-height: 20px;
  transition: all 0.5s;
  box-shadow: -2px 9px 30px 0px var(--std-button-shadow-color);

  .caption {
    flex-basis: 120px;
  }

  .icon {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    background-color: var(--std-button-darker-color);
    border-radius: 29px;

    &:after {
      position: absolute;
      top: 25%;
      right: 0;
      left: 0.1px;
    }

    &.icon--human {
      &:after {
        content: url('~assets/human.svg');
      }
    }

    &.icon--tick {
      &:after {
        content: url('~assets/tick.svg');
      }
    }

    &.icon--arrow {
      &:after {
        left: 3.1px;
        content: url('~assets/arrow.svg');
      }
    }

    &.icon--arrow-up {
      &:after {
        top: 0;
        bottom: 25%;
        right: 1.5px;
        transform: rotate(180deg);
        content: url('~assets/arrow.svg');
      }
    }
  }

  &:hover {
    background-color: var(--std-button-darker-color);

    .icon {
      transition: all 0.7s;
      background-color: white;

      &.icon--human {
        &:after {
          content: url('~assets/human--alt.svg');
        }
      }

      &.icon--tick {
        &:after {
          content: url('~assets/tick--alt.svg');
        }
      }

      &.icon--arrow {
        &:after {
          content: url('~assets/arrow--blue.svg');
        }
      }

      &.icon--arrow-up {
        &:after {
          transform: rotate(180deg);
          content: url('~assets/arrow--blue.svg');
        }
      }
    }
  }
}

.btn:disabled,
.btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
