.tabs {
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--subview-bg);

  .tab {
    cursor: pointer;
  }
}
